body{
    margin:0;
}

hr{
    width: 90%;
    border: 1px solid white;
    margin: 10px 0;
}
a{
    text-decoration: none;
    color:white
}
.container{
    background-color: antiquewhite;
    float: left;
    width: 100%;
    height:100%;
}
.left-column {
    float: left;
    width: 24%;
    margin-right: 2%;
}
.right-column {
    float: left;
    width: 48%;
} 

