body{
    margin:0;
}
.container{
    height:100vh;
    background-color: antiquewhite;
}
hr{
    width: 90%;
    border: 1px solid white;
    margin: 10px 0;
}
a{
    text-decoration: none;
    color:white
}
.container{
    background-color:rgb(244, 242, 239);
    float: left;
    width: 100%;

}
.element-spacing{
    padding-bottom: 20px;
}
.left-column {
    float: left;
    width: 24%;
    margin-right: 2%;
    height:100%;
    background-color: lightgrey;
    position: relative;
    padding: 16px;
}
.right-column {
    float: left;
    width: 48%;
    height:100%;
} 
.category {
  position: absolute;
  left: 16px;
  top: 16px;
}
